@import url("./color-palette.css");

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--rev-green);
    padding-left: 20px;
    padding-right: 20px;
}

#main {
    width: 100%;
    min-height: calc(100vh - 100px);
    background-color: var(--rev-white);
    padding: 20px;
}

#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 100%;
    height: 50px;
    background-color: var(--rev-green);
    padding-left: 20px;
    padding-right: 20px;
}