body {
    font-family: "Avenir Next Condensed re", sans-serif;
    font-weight: 400;
    cursor: default;
}

.main {
    min-height: calc(100vh - 100px);
    padding: 20px;
}

.navbar {
    height: 50px;
    background-color: var(--rev-dark-green);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-left {
    display: flex;
    margin-right: 15%;
}

.navbar-right {
    margin-left: 15%;
}

.logoImage {
    width: 30px;
    height: 25px;
    margin-right: 5px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.list {
    display: flex;
    column-gap: 20px;
    align-items: center;
    list-style: none;
}

.listItem {
    margin-left: 20px;
    font-weight: 500;
    cursor: default;
}

.logoutButton {
    font-weight: 500;
    cursor: pointer;
    background-color: var(--rev-black);
    height: 40px;
    width: fit-content;
    line-height: 40px;
    padding: 0 15px;
    border-radius: 20px;
}

.profile {
    display: flex;
    column-gap: 10px;
    align-items: center;
    height: 40px;
    width: fit-content;
    padding: 0 5px;
}

.profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.profile-name {
    color: var(--rev-white);
    font-weight: 500;
    font-size: medium;
}

.footer {
    height: 50px;
    background-color: var(--rev-dark-green);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: default;
}