body {
    font-family: "Avenir Next Condensed re", sans-serif;
    font-weight: 400;
}

.main {
    min-height: calc(100vh - 100px);
    padding: 20px;
}

.navbar {
    height: 50px;
    background-color: var(--rev-dark-green);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-left {
    display: flex;
    margin-right: 15%;
}

.navbar-right {
    margin-left: 15%;
}

.logoImage {
    width: 30px;
    height: 25px;
    margin-right: 5px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.list {
    display: flex;
    align-items: center;
    list-style: none;
}

.listItem {
    margin-left: 20px;
    font-weight: 500;
    cursor: pointer;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.footer {
    height: 50px;
    background-color: var(--rev-dark-green);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}