@import url("./color-palette.css");

.title {
    font-size: x-large;
    margin-bottom: 10px;
    width: fit-content;
    z-index: 10;
    position: relative;
    padding: 2px;
    border: 2px solid var(--rev-white);
    border-radius: 5px;
}

.question-index {
    padding: 1px;
}

.question-cell {
    padding-bottom: 50px !important;
}

.question-add-button {
    width: 100%;
    margin-bottom: 10px;
    color: gray;
    text-align: center;
    position: absolute;
    bottom: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px lightgray;
    z-index: 10;
}

.question-item {
    white-space: pre-wrap;
    overflow-wrap: break-word;
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 1px;
    border: 2px solid var(--rev-white);
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.question-item:hover {
    border: 2px solid var(--rev-black);
}

.question {
    overflow-wrap: break-word;
}

.editable-question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questionTextarea {
    width: 80%;
}

.trash {
    color: var(--rev-black);
    font-size: x-large;
    padding-right: 3px;
}

.trash:hover {
    color: var(--rev-black);
    opacity: 70%;
}

.flex {
    display: flex;
}

.title:hover {
    border: 2px solid var(--rev-black);
    border-radius: 5px;
}

#grid-layout-map {
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    grid-template-rows: repeat(5, auto);
    grid-auto-rows: max-content;
}

.heading-left {
    background-color: var(--rev-black);
    color: var(--rev-white);
    text-align: center;
    padding: 5px;
    margin-right: 10px;
}

.heading-top-rounded {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.heading-bottom-rounded {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.heading-top {
    background-color: var(--rev-black);
    color: var(--rev-white);
    text-align: center;
    padding: 5px;
}

.grid-cell {
    position: relative;
    z-index: 5;
    padding: 3px;
    margin: 3px;
    font-size: small;
}

.droppable-cell {
    padding-bottom: 50px;
}

.droppable-field {
    min-height: 150px;
    border-radius: 10px;
}

.droppable-field-on-dragging {
    min-height: 150px;
    border-radius: 10px;
    opacity: 50%;
}

.add-button {
    width: 100%;
    margin-bottom: 10px;
    color: gray;
    text-align: center;
    position: absolute;
    bottom: 0px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px lightgray;
    z-index: 10;
}

.touchpoint-node {
    position: relative;
    height: 10px;
    width: 100px;
    border: none;
    background: transparent;
}

.react-flow__renderer {
    z-index: 1 !important;
    cursor: default;
}

.react-flow .react-flow__handle {
    z-index: 155 !important;
    background-color: black;
    width: 8px;
    height: 8px;
}